<h1 class='mx-2'>{{title}}</h1>
<p class='mx-2'>{{description}}</p>

<div class="container-fluid mt-4">
    <div class="col-8 pix-0">
        <form class="p-4" action="/campaigns/create" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text">Campaign Name</span>
            <input type="text" class="form-control" name="name" required placeholder="New Campaign">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Notes</span>
            <input type="text" class="form-control" name="notes">
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-dark" style="width: 180px;">Create Campaign</button>
        </div>
        </form>
    </div>
</div>

