<h1 class="mx-2">{{title}}</h1>
<p class="mx-2">{{description}}</p>

<div class="container-fluid mt-4">
    <div class="row p-4">
    <div class="col-8">
    <style>
    .nav-tabs .nav-link {
        color: #424242;
    }
    </style>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs  bg-light" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="file-tab" data-bs-toggle="tab" data-bs-target="#file-upload" type="button" role="tab" aria-controls="home" aria-selected="true">File Upload</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="manual-tab" data-bs-toggle="tab" data-bs-target="#manual-add" type="button" role="tab" aria-controls="profile" aria-selected="false">Add Manually</button>
        </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content border border-light-subtle bg-white" id="myTabContent">
        <div class="tab-pane fade show active" id="file-upload" role="tabpanel" aria-labelledby="file-tab">
            <div class="mb-3 p-4">
            <label for="formFile" class="form-label">Upload <code style="color: #FF5722;">.csv</code> files</label>
            <input class="form-control" type="file" id="formFile">
            </div>
        </div>
        <div class="tab-pane fade" id="manual-add" role="tabpanel" aria-labelledby="manual-tab">
            <form class="p-4">
            <div class="input-group mb-3">
                <span class="input-group-text">First name</span>
                <input type="text" class="form-control mr-2" id="firstName">

                <span class="input-group-text">Last name</span>
                <input type="text" class="form-control" id="lastName">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Job title</span>
                <input type="text" class="form-control" id="jobTitle">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Supervisor</span>
                <input type="text" class="form-control" id="supervisor">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Department</span>
                <input type="text" class="form-control" id="department">
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-dark" style="width: 180px;">Add</button>
            </div>
            </form>
        </div>
        </div>
        </div>
    </div>
    <div class="my-4"><h3>User list</h3></div>
    <table class="table table-striped mt-3">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Title</th>
        <th scope="col">Supervisor</th>
        <th scope="col">Department</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>John</td>
        <td>Smith</td>
        <td>Employee</td>
        <td>Dan Brown</td>
        <td>Sales</td>
        <td><button type="button" class="btn btn-outline-secondary mx-2"><i class="bi bi-pen"></i></button><button type="button" class="btn btn-outline-secondary"><i class="bi bi-trash3"></i></button></td>
        </tr>
        <tr>
        <th scope="row">2</th>
        <td>Jack</td>
        <td>Smith</td>
        <td>Employee</td>
        <td>Fionna Brown</td>
        <td>Human Resources</td>
        <td><button type="button" class="btn btn-outline-secondary mx-2"><i class="bi bi-pen"></i></button><button type="button" class="btn btn-outline-secondary"><i class="bi bi-trash3"></i></button></td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td>Kim</td>
        <td>Jones</td>
        <td>Employee</td>
        <td>James Blue</td>
        <td>Accounting</td>
        <td><button type="button" class="btn btn-outline-secondary mx-2"><i class="bi bi-pen"></i></button><button type="button" class="btn btn-outline-secondary"><i class="bi bi-trash3"></i></button></td>
        </tr>
    </tbody>
    </table>
</div>

